# **Task 1 Exploratory Data Analysis**

## **Import the Libraries & Visualize the data**

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('Amazon - Movies and TV Ratings.csv')

In [ ]:
df.head(7)

          user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0  A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1   AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2  A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3   AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4  A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN
5   AP57WZ2X4G0AA     NaN     NaN  ...       NaN       NaN       NaN
6  A3NMBJ2LCRCATT     NaN     NaN  ...       NaN       NaN       NaN

[7 rows x 207 columns]

In [ ]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Columns: 207 entries, user_id to Movie206
dtypes: float64(206), object(1)
memory usage: 7.7+ MB

(4848, 207)

## **Question 1 Which movies have maximum views/ratings?**


> Explanation

1. First I drop the user_id column which was not relevant for us in this task.

2. Then I count the number of the ratings over the Movie columns & named it as `rate_count`.
3. Sort the dataframe in the descending order to get the maximum rating value on the Top.

In [ ]:
df = df.drop(['user_id'],axis=1)
df.head()

   Movie1  Movie2  Movie3  Movie4  ...  Movie203  Movie204  Movie205  Movie206
0     5.0     5.0     NaN     NaN  ...       NaN       NaN       NaN       NaN
1     NaN     NaN     2.0     NaN  ...       NaN       NaN       NaN       NaN
2     NaN     NaN     NaN     5.0  ...       NaN       NaN       NaN       NaN
3     NaN     NaN     NaN     5.0  ...       NaN       NaN       NaN       NaN
4     NaN     NaN     NaN     NaN  ...       NaN       NaN       NaN       NaN

[5 rows x 206 columns]

In [ ]:
movie_rate = pd.DataFrame()
movie_rate['rate_count'] = df.count(axis=0)
movie_rate.head()

        rate_count
Movie1           1
Movie2           1
Movie3           1
Movie4           2
Movie5          29

In [ ]:
movie_rating = movie_rate.sort_values("rate_count",ascending = False)
movie_rating.head(1)

          rate_count
Movie127        2313

# **Question 2 What is the average rating for each movie? Define the top 5 movies with the maximum ratings.**


> Explaination


1.   First I created a new column which consists of average value of the rating while skipping the NaN values.
Named this new column as `avg_movie_rating`
2.   Now, Sort the table dataframe according to the number of ratings

In [ ]:
avg_movie_rating = df.mean(axis = 0, skipna = True)

In [ ]:
movie_rate['avg_movie_rating'] = avg_movie_rating
movie_rate

          rate_count  avg_movie_rating
Movie1             1          5.000000
Movie2             1          5.000000
Movie3             1          2.000000
Movie4             2          5.000000
Movie5            29          4.103448
...              ...               ...
Movie202           6          4.333333
Movie203           1          3.000000
Movie204           8          4.375000
Movie205          35          4.628571
Movie206          13          4.923077

[206 rows x 2 columns]

In [ ]:
sort_avg_movie_rating = movie_rate.sort_values(["rate_count"],ascending = False)
sort_avg_movie_rating.head(5)

          rate_count  avg_movie_rating
Movie127        2313          4.111976
Movie140         578          4.833910
Movie16          320          4.518750
Movie103         272          4.562500
Movie29          243          4.806584

# **Question 3 Define the top 5 movies with the least audience.**

In [ ]:
sort_avg_movie_rating = movie_rate.sort_values(["rate_count"],ascending = True)

sort_avg_movie_rating.head(5)

          rate_count  avg_movie_rating
Movie1             1               5.0
Movie71            1               4.0
Movie145           1               5.0
Movie69            1               1.0
Movie68            1               5.0

# **Question 4 Divide the data into training and test data**

In [ ]:
movie_rate.head()

        rate_count  avg_movie_rating
Movie1           1          5.000000
Movie2           1          5.000000
Movie3           1          2.000000
Movie4           2          5.000000
Movie5          29          4.103448

In [ ]:
df = pd.read_csv('Amazon - Movies and TV Ratings.csv')
df = df.fillna(value=0)
df

             user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0     A3R5OBKS7OM2IR     5.0     5.0  ...       0.0       0.0       0.0
1      AH3QC2PC1VTGP     0.0     0.0  ...       0.0       0.0       0.0
2     A3LKP6WPMP9UKX     0.0     0.0  ...       0.0       0.0       0.0
3      AVIY68KEPQ5ZD     0.0     0.0  ...       0.0       0.0       0.0
4     A1CV1WROP5KTTW     0.0     0.0  ...       0.0       0.0       0.0
...              ...     ...     ...  ...       ...       ...       ...
4843  A1IMQ9WMFYKWH5     0.0     0.0  ...       0.0       0.0       5.0
4844  A1KLIKPUF5E88I     0.0     0.0  ...       0.0       0.0       5.0
4845   A5HG6WFZLO10D     0.0     0.0  ...       0.0       0.0       5.0
4846  A3UU690TWXCG1X     0.0     0.0  ...       0.0       0.0       5.0
4847   AI4J762YI6S06     0.0     0.0  ...       0.0       0.0       5.0

[4848 rows x 207 columns]

In [ ]:
df_new = pd.melt(df,id_vars=["user_id"])
df_new.head()

          user_id variable  value
0  A3R5OBKS7OM2IR   Movie1    5.0
1   AH3QC2PC1VTGP   Movie1    0.0
2  A3LKP6WPMP9UKX   Movie1    0.0
3   AVIY68KEPQ5ZD   Movie1    0.0
4  A1CV1WROP5KTTW   Movie1    0.0

In [ ]:
df_new.shape

(998688, 3)

In [ ]:
df_new[(df_new['user_id']=='A3R5OBKS7OM2IR')].shape

(206, 3)

In [ ]:
df_new = df_new.sort_values(["user_id"],ascending = True)
df_new

                      user_id  variable  value
576418  A0047322388NOTO4N8SKD  Movie119    0.0
847906  A0047322388NOTO4N8SKD  Movie175    0.0
300082  A0047322388NOTO4N8SKD   Movie62    0.0
343714  A0047322388NOTO4N8SKD   Movie71    0.0
203122  A0047322388NOTO4N8SKD   Movie42    0.0
...                       ...       ...    ...
788846          AZZ1KF8RAO1BR  Movie163    0.0
279806          AZZ1KF8RAO1BR   Movie58    0.0
609470          AZZ1KF8RAO1BR  Movie126    0.0
367070          AZZ1KF8RAO1BR   Movie76    0.0
47102           AZZ1KF8RAO1BR   Movie10    0.0

[998688 rows x 3 columns]

In [ ]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 3.2MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.16.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp36-cp36m-linux_x86_64.whl size=1670939 sha256=0919ab30233fb3195efa0db6026b56864adab9e0b357f9f0afea00b39c5c2f70
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [ ]:
from surprise import Reader, Dataset
reader = Reader()
data = Dataset.load_from_df(df_new[[ 'user_id','variable', 'value']], reader)

In [ ]:
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=0.25)

# **Question 5 Build a recommendation model on training data**

In [ ]:
from surprise import SVD, accuracy
algo = SVD()
algo.fit(trainset)

# **Question 6 Make predictions on the test data**

In [ ]:
predictions = algo.test(testset)

In [ ]:
accuracy.rmse(predictions)

RMSE: 1.0300

1.0300202435868633

In [ ]:
for i in range(0,10):
    print("User " + predictions[i][0]+ " should be recommended "+ predictions[i][1])
    print()

User A22JVLEGF9IVV6 should be recommended Movie135

User A10OIC8PYVCDOS should be recommended Movie61

User AB4VNZUXV2BD9 should be recommended Movie50

User A1MHLT6PO028N8 should be recommended Movie40

User A2ZCGDI772NVQI should be recommended Movie108

User A3L61G6N7AT8N2 should be recommended Movie2

User A1LW1I7GA03J74 should be recommended Movie116

User A3D4VECD0GGO7N should be recommended Movie34

User A2EDZH51XHFA9B should be recommended Movie86

User A1E7XJKPEZSR96 should be recommended Movie202